@import "tailwindcss";

@theme {
    --inset-shadow-md: inset 0px 0px 6px rgba(0, 0, 0, .25)
}

.police-tape {
  background: repeating-linear-gradient(
    45deg,
    #ff0707,
    #ff0707 10px,
    #ffffff 10px,
    #ffffff 20px
  );
  color: #000; /* Magenta */
  font-size: 16px;
  font-weight: 700; /* Bold for extra clarity */
  border: 1px solid #000;
  line-height: 16px;
  padding: 4px 8px;
}

.police-tape-complete {
  background: repeating-linear-gradient(
    45deg,
    #39ff07,
    #39ff07 10px,
    #ffffff 10px,
    #ffffff 20px
  );
  color: #000; /* Magenta */
  font-size: 16px;
  font-weight: 700; /* Bold for extra clarity */
  border: 1px solid #000;
  line-height: 16px;
  padding: 4px 8px;
}
